<footer class="navbar-fixed-bottom">


<div class="kkk pull-left">
      <p>JN Survey Builder by Jinal & Nisarg Patel.  
      </div>
      <div class="kkk pull-left">
      <a href="/"> Go Back to Home</a></p>
    
      </div>
      <div class="kkk pull-right">

                <a href="https://github.com/Nisarg1503"><i class="fa fa-github fa-2x"></i></a>
            
                <a href="https://in.linkedin.com/pub/nisarg-patel/90/a74/a83"><i class="fa fa-linkedin-square fa-2x"></i></a>
        
                <a href="https://instagram.com/nisarg1503/"><i class="fa fa-instagram fa-2x"></i></a> 
            
                <a href="https://twitter.com/nisarg1503"><i class="fa fa-twitter-square fa-2x"></i></a>
            
                <a href="https://www.facebook.com/nisarg1503"><i class="fa fa-facebook-square fa-2x"></i></a>
      </div>
</footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>