<% include ../partials/header.ejs %>


<style>
    body{
    background-color: #C4C7CC;
     margin-bottom: 30px;
    }
table {
	padding: 20%;
    align:"center";
    margin-top: 25%; 
    }

label {
    align:"center";
    display:block;
    letter-spacing:2px;
	font-weight: 300; 
	font-size: 1.6em; 
    font-family: 'Raleway', sans-serif;
}
</style>



<div id="create">
                  	<div class="row">
  <div class="col-md-6 col-md-offset-3">
<table bordered class="table table-bordered">
            <form class="form-horizontal"> 
                        <tr><td>
                    		<div class="form-group">
                            			<label for="surveyname" >Survey Name</label>
    									<input name="surveyname" id="SurveyName" placeholder="Survey Name" >
                                        <label for="questype" >Question Type:</label>
                                        
					           <a class="btn btn-primary" href="/choice/multiple">Create Multiple Choice</a>
                               <a class="btn btn-primary" href="/choice/short">Create Short Questions</a>
                            </td></tr></table></div>


<%- include ../partials/footer.ejs %>