<%- include partials/header.ejs %>


<style>
body {background-color: #72777a;}

    .aboutme p{
    padding-top: 75px;
    color: #E5EFFF;
    font-weight: 200;
    letter-spacing: 4px;
    margin: auto;
    text-align: justify;
    font-size: 1.3em;
    width: 70%;
    position: relative;
    }
</style>
<div class="aboutme">
 <p>We're the world's leading provider of web-based survey solutions, trusted by millions of companies, organizations and individuals alike to gather the insights they need to make more informed decisions</p>

</div>
    
</body>
</html>

<%- include partials/footer.ejs %>