<%- include partials/header.ejs %>


<style>
body {background-color: #72777a;
 margin-bottom: 30px;}

    .aboutme p{
    padding-top: 75px;
    color: #E5EFFF;
    font-weight: 200;
    letter-spacing: 4px;
    margin: auto;
    text-align: justify;
    font-size: 1.3em;
    width: 70%;
    position: relative;
    }
</style>
<div class="aboutme">
<p>We're the world's leading provider of web-based survey solutions, trusted by millions of companies, organizations and individuals alike to gather the insights they need to make more informed decisions.</p><br>
<p>When user first sign up for a survey they are going to ask you a number of questions about user’s Name, Username, Password, Email Address. And that’s because they need to know user’s demographics before matching you up with the correct surveys and secondly, they can come back and login into our website and they can see the data and result of their survey.</p>
<p>It can be a little time consuming, but our recommendation is to sign up for all survey before create. So, we are going to add passport and mongodb database support.</p>
</div>
    
</body>
</html>

<%- include partials/footer.ejs %>