<%- include partials/header.ejs %>




<div>
            <label>
                <h4 class="input">Title<b class="required">*</b></h4>

                <input id="newName" type="text" class="fancy-input" placeholder="Give your survey a name." maxlength="250">

                <span class="ttp">You're good up to <strong>250</strong> characters.</span>
                <span class="err">Whoa! Every survey needs a name.</span>
            </label>
			</div>


<%- include partials/footer.ejs %>