<% include ../partials/header.ejs %>
<style>
body {background-color: #D6E0E5;
 margin-bottom: 30px;}

</style>
<main class="container-fluid">
	<h3 style="padding: 25px;">Add a New Survey</h3>
    
  <div class="panel panel-default panel-custom">
                      <div class="panel-heading">
                        <h3 class="panel-title">Multiple Choice</h3>
                      </div>
                      <div class="panel-body">
                        <div>
                        <label for="surveyname" >Survey Name</label>
    									<input name="surveyname" id="SurveyName" placeholder="Survey Name" >
                      
                            <input for="surveyQues" type="text" placeholder="Enter the question here"  class="form-control question-bold" required autofocus/><br>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <input for="surveyOption1" type="text" placeholder="Enter option 1 here" class="form-control" required autofocus /><br>
                                <input for="surveyOption2" type="text" placeholder="Enter option 2 here" class="form-control" required autofocus /><br>
                                <input for="surveyOption3" type="text" placeholder="Enter option 3 here" class="form-control" required autofocus /><br>
                                <input for="surveyOption4" type="text" placeholder="Enter option 4 here" class="form-control" required autofocus /><br>
                            </div>
                            
                       </div>
                        <div class="col-md-2">
                            <a type="submit" href="/choice/multiple" class="btn btn-info">Add New Question</a>
                        </div>
                       
                        <div class="col-md-2">
                 
                            <button type="submit" class="btn btn-primary">Submit Quetions</button>
                        </div>
                      </div>
                    </div>
                    

                </div><br>
	
	
	</form> 
</main>

<%- include ../partials/footer.ejs %>

