<% include ../partials/header.ejs %>
<style>
body {background-color: #D6E0E5;
 margin-bottom: 30px;}

</style>
<main class="container-fluid">
	<h1 style="padding: 35px;">Add a New Survey</h1>
    
  <div class="panel panel-default panel-custom">
                      <div class="panel-heading">
                        <h3 class="panel-title">Multiple Choice</h3>
                      </div>
                      <div class="panel-body">
                        <div>
                            <input type="text" placeholder="Enter the question here"  class="form-control question-bold"/><br>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" placeholder="Enter option 1 here" class="form-control" /><br>
                                <input type="text" placeholder="Enter option 2 here" class="form-control" /><br>
                                <input type="text" placeholder="Enter option 3 here" class="form-control" /><br>
                                <input type="text" placeholder="Enter option 4 here" class="form-control" /><br>
                            </div>
                            
                       </div>
                        <div class="col-md-1">
                            <a type="submit" href="/choice/multiple" class="btn btn-info">Add Option</a>
                        </div>
                       
                        <div class="col-md-1">
                 
                            <button type="button" class="btn btn-primary">Submit Quetions</button>
                        </div>
                      </div>
                    </div>
                    

                </div><br>
	
	
	</form> 
</main>

<%- include ../partials/footer.ejs %>

